.plants {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 37px;
    justify-content: space-between;
    align-content: space-between;
    margin: 20px 0;
}

.plants__pages {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.plant__page {
    padding: 10px 14px;
    border-radius: 6px;
    border: 1px silver solid;
}

.plant__page-active {
    color: white;
    background: var(--colorGreen);
}

@media (max-width: 1385px) {
    
}